@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*
{
  font-family: 'Quicksand', sans-serif !important;
}

.content-title
{
  font-weight: 600;
}

#form-search
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 10px;
  padding: 10px;
}

#search
{
  width: 370px;
  border: none;
  outline: none;
  font-weight: 600;
}

#search:focus
{
  outline: none;
}

.card
{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.card-image
{
  /* width: 22rem !important; */
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  height: 172px !important;
  object-fit: cover;
}

.card
{
  /* white-space: nowrap; */
  height: 350px !important;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.card:hover .card-title
{
  color: rgb(255, 174, 0);
}

.modal-dialog
{
  position: relative;
  top: 50px !important;
}

.btn-close-modal
{
  position: relative;
  top: -38px;
  left: 96% !important;
}

.modal-content
{
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.modal-img
{
  height: 280px !important;
  object-position: center;
  object-fit: cover;
  position: relative;
  top: -32px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}